* {
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: black;
  font-family: 'Roboto Mono', monospace; }
  body h1 {
    display: flex;
    justify-content: center;
    background-color: black;
    font-weight: bold; }
  body h2 {
    display: flex;
    justify-content: center;
    background-color: lightseagreen;
    font-weight: bold; }
  body h3 {
    display: flex;
    justify-content: center;
    background-color: lightgray;
    font-weight: 900; }
  body h4 {
    display: flex;
    justify-content: center;
    background-color: grey;
    font-weight: 900; }
  body .logo {
    font-size: 100px;
    padding: 0 75px;
    margin-top: 15px; }
  body .cuadro {
    display: flex;
    justify-content: center; }
  body .nav {
    display: flex;
    justify-content: center;
    margin: 15px;
    padding: 0 auto;
    font-weight: 500; }
    body .nav .nav-item a:hover {
      background-color: lightslategray;
      border-radius: 12px;
      padding: 15px;
      transition: 0.5s; }
  body .imagenesfooter {
    width: 15px;
    height: 15px; }
