body {
  background-color: black;
  font-family: 'Roboto', sans-serif; }
  body h1 {
    display: flex;
    justify-content: center;
    background-color: lightgrey;
    font-weight: bold; }
  body h2 {
    display: flex;
    justify-content: center;
    background-color: lightseagreen; }
  body h3 {
    display: flex;
    justify-content: center;
    background-color: lightgray; }
  body h4 {
    display: flex;
    justify-content: center;
    background-color: grey;
    font-weight: 600; }
  body .logo {
    padding: 20px;
    margin-top: 15px; }
  body nav {
    display: flex;
    justify-content: flex-start; }
    body nav .inicio1 a:hover {
      background-color: lightslategray;
      border-radius: 12px;
      padding: 15px; }
    body nav .hombres1 a:hover {
      background-color: lightslategray;
      border-radius: 12px;
      padding: 15px; }
    body nav .mujeres1 a:hover {
      background-color: lightslategray;
      border-radius: 12px;
      padding: 15px; }
    body nav .producto1 a:hover {
      background-color: lightslategray;
      border-radius: 12px;
      padding: 15px; }
    body nav .contacto1 a:hover {
      background-color: lightslategray;
      border-radius: 1px;
      padding: 15px; }
    body nav .imagenesfooter {
      width: 15px;
      height: 15px; }
