

body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
    h1{
        display: flex;
        justify-content: center;
        background-color: lightgrey;
    }
    h2{
        display: flex;
        justify-content: center;
        background-color: lightseagreen;
    }
    h3{
        display: flex;
        justify-content: center;
        background-color: lightgray;
    }
    .logo{
        padding: 20px;
        margin-top: 15px;
    }
    nav{
        display: flex;
        justify-content: flex-start;
        .inicio1 a:hover{
            background-color: lightslategray;
            border-radius: 12px;
            padding:15px ;
        }
        .hombres1 a:hover{
            background-color: lightslategray;
            border-radius: 12px;
            padding:15px ;
        }    
        .mujeres1 a:hover{
            background-color: lightslategray;
            border-radius: 12px;
            padding:15px ;

        }
        .producto1 a:hover{
            background-color: lightslategray;
            border-radius: 12px;
            padding:15px ;

        }   
        .contacto1 a:hover{
            background-color: lightslategray;
            border-radius: 1px;
            padding:15px ;

        }
        .imagenesfooter{
            width: 15px;
            height: 15px;
        }
    
    }   














}


