@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Roboto:ital@0;1&family=Rubik+Wet+Paint&display=swap');
*{ margin: 0;
    padding: 0;
 

}
body{
    font-family: 'Roboto', sans-serif;
    background-color: black;  
}
header{
    display: grid;
    grid-template-columns: repeat(2);
    grid-template-rows: repeat(2);
    grid-template-areas:
    "h1 h1 "
    "logo nav"
    
    ;   
}

.logo{
    grid-area: logo;
    display: flex;
    justify-items:center ;
    height: 300px;
    width: 300px;
    
   

}
h1{
    border-radius: 20px;
    grid-area: h1;
    display: flex;
    justify-content: center;
    background-color: lightseagreen;
    
}
nav{
    grid-area: nav;
    display: flex;
    align-items: center;
    text-decoration: none;
    
    
}
.inicio{
    display: flex;
    justify-content: center;
 
}
li{
    margin: 40px;
    
}
footer img{
    display: flex;
    width:25px ;
    height:25px ;
}
.envio{
    background-color: black;
    transition: all  4s ease-in ;
}

.text-center{
    background-color:black;
    color: aliceblue;
}
/*Inicio de transicion y animacion*/
.hombre1:hover{
    transform: scale(1.5);
    transition-property: all;
    transition-duration: 4s ;

}
.inicio1:hover{
    transform: scale(1.5);
    transition-property: all;
    transition-duration: 4s ;

}
.producto1:hover{
    transform: scale(1.5);
    transition-property: all;
    transition-duration: 4s ;

}
.mujeres1:hover{
    transform: scale(1.5);
    transition-property: all;
    transition-duration: 4s ;

}
.contacto1:hover{
    transform: scale(1.5);
    transition-property: all;
    transition-duration: 4s ;

}
.envio1:hover{
    transform: scale(1.5);
    transition-property: all;
    transition-duration: 4s ;
}
.envio:hover{
    transform: scale(1.5);
    background-color: black;
    transition-property: all;
    transition-duration: 4s;
}
